* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85586F;
    height: max-content;
}

.panel {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.pricing-table {
    text-align: center;
    padding: 2em;
}

li {
    list-style: none;
}

.pricing-plan {
    border-bottom: 2px solid #D0B8A8;
    padding: 2em;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    width: 100%;
    margin-bottom: 15px;
}

.pricing-header {
    color: #D0B8A8;
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 25px;
}

.pricing-features {
    color: #85586F;
    font-size: 0.9em;
    border-top: 1px solid #d0b8a8d1;

}

.pricing-features-item {
    border-bottom: 1px solid #d0b8a8d1;
    padding: 1em;
}

.pricing-price {
    color: #85586F;
    font-size: 2em;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.pricing-button {
    text-decoration: none;
    display: inline-block;
    color: #85586F;
    border: 1px solid #85586F;
    border-radius: 5px;
    padding: 0.7em;
    margin-top: 20px;
}

.is-featured {
    background-color: #85586F;
    color: white;
}

.pricing-button:hover {
    background-color: #a0798d41;
}

.is-featured:hover {
    background-color: #664556;
}

@media (min-width: 800px) {
    body {
        height: 100vh;
    }

    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: 0;
        width: 60%;
        margin-top: 3em;
        border-right: 1px solid #d0b8a8d1;
    }

    .pricing-plan:last-child {
        border-right: 0;
    }
}
